<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winchem.log.device.mapper.DeviceWashQuantityMapper">

    <select id="getLastLastest" resultType="com.winchem.log.device.entity.DeviceWashQuantity">
        select * from device_wash_quantity where device_id = #{deviceId} order by day desc limit 1
    </select>
</mapper>
