<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winchem.log.device.mapper.DeviceInfoMapper">

    <select id="selectDeviceIdBySim" resultType="java.lang.String">
        select DEVICE_ID from device_info where SN_CODE = #{simCode} limit 1
    </select>
</mapper>
