<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winchem.log.sys.task.mapper.TaskCronJobMapper">

    <update id="updateIntervalTime">
        update task_cron_job set interval_time = #{intervalTime} where id = #{taskId}
    </update>
</mapper>
